<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complete</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">

    <div class="row" align="center">

        {% for image_name in image_names %}
        <div class="col-md-6">
            <img class="img-thumbnail" src=" {{url_for('send_image', filename=image_name)}} " style="width:500px;height:500px;">
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>